/*
 * Program Name: Layout.css
 * Program Purpose: to contain the necessary styling for Kelly's wensite
 * Program Date: 13th Feburary, 2018.
 */

 /* default styling */
 body, h1, h2, h3, h4, h5, h6, nav, header, section, main, footer, img, button{
	padding:0;
	margin:0;
}

/*Black scroll bar*/
body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


 /* Header Styling */
 header{
	width:100%;
	height:750px;
	margin:0 auto;
	overflow:hidden;
	transition:all 0.5s; 
	position:relative;
 }

 #headerMainImage{
	width:100%;
 }

 #transparentTopBar{
     position: absolute;
     top:5px;
     left:5px;
     right:5px;
     color:white;
 }

 #headLogo{
     font-size:2.5em;
     font-family: 'Dancing Script', cursive;
 }

 #openNavigation{
     float:right;
     font-size:1.5em;
     margin-top:10px;
     margin-right:10px;
 } 
 
 #openNavigation:hover{
     color: grey;
     cursor: pointer;
}

 #sideNameTagMotivation{
    position: absolute;
    bottom:20px;
    right:20px;
    color:white;

 }
 #headInspirationText{
    font-size:2em;
    font-family: 'Dancing Script', cursive;
 }

/* nav styling */
div#navigation-container-container{
	height: 100%;
	width: 0;
	background-color: transparent;
	position: absolute;
	top:0;
	right:0;
	z-index:2;
	transition:0.5s;
}

div#navigation-non-used-half{
	height: 100%;
	width:50%;
	float:left;
	overflow:auto;
	z-index:3;
	background-color:transparent;
}

div#navigation-container{
	height: 100%;
	width:50%;
	float:right;
	background-color:#F2F2F2;
	overflow:auto;
	z-index:3;
}

span#closeNavigation{
	float:right;
	padding:20px 15px;
	font-size:20px;
	cursor: pointer;
}

span#closeNavigation{
    color:black;
}

div#menu-items{
	margin-top:50px;
    font-family: 'Dancing Script', cursive;
}

div#menu-items > ul{
	list-style: none;
}


div#menu-items > ul > li{
	font-size:23px;
	margin-top:6px;
}

div#menu-items > ul > li > a:hover{
    list-style: none;
    text-decoration: none;
}






 /*  main contents styling */
 main{
    background-color: #f7f7f7;
 }

 /*  three divs */
#allThreeDivsAfterHeaderContainer{
    width:85%;
    margin:0% auto;
    overflow:auto;
}

.divThreeDiv{
    background-color:#ffffff;
    width:30%;
    height:450px;
    margin-left:3%;
    margin-top:4%;
	display:inline;
	float:left;
    overflow:hidden;
    border-radius: 5px;
    background-color: #ffffff;
}